---
const { copyright } = Astro.props;
---

<footer class="site-footer">
	<div class="container footer-content">
		<p>{copyright}</p>
		<div class="footer-character" aria-hidden="true">
			<div class="footer-character-body">
				<div class="footer-character-head" />
				<div class="footer-character-torso" />
				<div class="footer-character-arm footer-character-arm--static" />
				<div class="footer-character-arm footer-character-arm--wave" />
				<div class="footer-character-leg footer-character-leg--left" />
				<div class="footer-character-leg footer-character-leg--right" />
			</div>
		</div>
	</div>
</footer>

